<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
</head>
<body>
<header>

    <% include templates/header.ejs %>

</header>

<%if (this.success_msg) { %>

<div>You are now registered</div>

<% } else { %>
<div>not registered</div>
<% } %>




<div class="flexaccount">

    <div class="register inline accflexitem">
        You don't have account yet?
        <br>
        <a href="/register">REGISTER NOW!</a>

    </div>


    <form action="/account" method="post" class="accountform inline accflexitem">

        <fieldset>
            <legend>Sign in</legend>
            Username/Email<br>
            <input id="username" type="text" name="username" placeholder="Username">
            <br>
            Password<br>
            <input id="password "type="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit" value="Sign in">
        </fieldset>
    </form>

</div>


<div class="clear"></div>


<footer class="second account">
    <%include templates/footer.ejs%>
</footer>
</body>
</html>
