<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
</head>
<body>
<header>
    <% include templates/header.ejs %>
</header>

<h1>
    </br> </br>
    Shopping cart
</h1>

<p><center>Your shopping cart is empty</center></p>




<footer class="second cart">
    <% include templates/footer.ejs %>
</footer>
</body>
</html>