<!DOCTYPE html>
<html lang="en">
<head>
    <%include templates/head.ejs%>
</head>
<body>
<header>

    <%include templates/header.ejs%>

</header>

<div class="flexproducts">


    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 1</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 2</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 3</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 4</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 5</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 6</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 7</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <div class="flexproductsitem">
        <a href="#"><h2 class="productstitle">Example product 8</h2></a>
        <img class="exampleImage" src="images/1113084_orig.jpg" alt="">
        <p>Product description here</p>
    </div>

    <footer class="second">
        <%include templates/footer.ejs%>
    </footer>


</div>


</body>
</html>