<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
    <script type="text/javascript" src="/javascripts/register.js" defer></script>

</head>
<body>
<header>

    <% include templates/header.ejs %>


</header>






<div class="flexreg">

    <div class="flexregitem">
        <form method="post" action="/register">
            <div class="registerinfo">Sign up for an account using your email address.</div>

            <% if (locals.product) { %>
            <p>This is the <%= product %>nd product</p>
            <% } %>

            <fieldset>
                Email address
                <br>
                <input type="text" name="email" class="regemail"></input>
                <br>
                First name<br>
                <input type="text" name="name" class="regname"></input>
                <br>
                Last name<br>
                <input type="text" name="surname" class="regsurname"></input>
                <br>
                Password<br>
                <input type="password" name="password" class="regpw"></input>
                <div class="validatePassword">Your password must be a minimum 6 characters long.</div>
                <br>
                Confirm password<br>
                <input type="password" name="password2" class="regpwconf"></input>
                <div class="errorMessage" style="color:red">Passwords doesn't match.</div>
                <br><br>
                <input type="checkbox" name="confirmagreement" class="confirmagreement"/> I agree to the Membership
                Agreement <a class="agreement" href="#">View agreement</a>
                <br><br>
                <input type="submit"  class="regsubmit">Register</input>


            </fieldset>
        </form>
    </div>
</div>


<div class="clear"></div>


<footer class="second account">
    <% include templates/footer.ejs %>
</footer>
</body>
</html>
