
    <a href="/" id="logo"></a>


    <nav>

        <ul>
            <li id="home_icon"><a href="/" class="current"><img src="/images/home_icon.png"/></a></li>
            <li><a href="/cart">CART</a></li>
            <li><a href="/account">ACCOUNT</a></li>
            <li><a href="/products">PRODUCTS</a></li>

        </ul>

    </nav>


    <input type="text" name="search" placeholder="Search..">


