body{
	font-family:Calibri;
	
}

header{
	background:#999;
	color:white;
	
	
	
}

a{
	text-decoration: none;
}


header h1{
	margin-right:30px;
	margin-left:30px;
	
	
}


.inlineLogoSearch{
	display:inline-block;
	margin-right:-4px;
	
	
	
}


nav input[type="text"] {
    margin-left:10%;
    width:500px;
	height:20px;
 
}


.button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
	
	
	
}

.button1 {
	width:100px;
	height:25px;
	
	}




.horizontalMenu li{
	border-left: 4px solid red;
	list-style-type:none;
	display:inline-block;
	padding-right:50px;
	padding-left:40px;

}

.horizontalMenu a{
	
	color:white;

}





.verticalMenu {
	margin:0;
	width:10%;
	background:black;
	border:solid 3px cyan;
	
	
	
	
}

.verticalMenu li{
	background:#ff2d2d;
	display: block;
	list-style-type:none;
	padding-bottom:15px;
	padding-top:15px;
	margin-left:-40px;
	text-align:center;
	border:solid 3px #fffc00;
	
}

.verticalMenu li a:hover:not(.active){
	background-color: #4CAF50;
}

.verticalMenu li a{
	color:white;
	padding:10px;
}



.mainContent{
	background:silver;
	height:1000px;
	
}

.articles{
	margin-top:-250px;
	margin-left:200px;
	background:lime;
	
}





footer{
	padding-top:50%;
}








