<!doctype html>
<html lang="en">
<head>
<% include templates/head.ejs %>
</head>
<body>

<header>
    <% include templates/header.ejs %>
</header>




<div id="doc">
    <div id="content">
        <div class="blueberry">


            <ul class="slides">
                <li><a href="#"><img src="images/BlackFridayTag1.png"/></a></li>

            </ul>

        </div>


    </div>


</div>


<section>
    <img src="images/livesupport.png"/>
    <h1>24/7 SUPPORT</h1>
    <p>For everyting you want to ask we are open 24/7 to help, at any time. Feel free to contact us.</p>
</section>

<section>
    <img src="images/location.png"/>
    <h1>WORLDWIDE SHIPING</h1>
    <p>We offer worldwide shipping services. You can order a product wherever you are at the moment.</p>
</section>

<section>
    <img src="images/check.png"/>
    <h1>100% PROTECTION</h1>
    <p>We offer money-back protections, so you can be 100% that everyting will be OK.</p>
</section>


<div class="clear"></div>


<h1 class="bigger">TOP CATEGORIES</h1>

<section>
    <h1>CONSUMER ELECTRONICS</h1>
    <img src="images/consumer-electronics.jpg"/>
    <p>Included in our facility is a "ladies only" section of the gym where women can workout to themselves.</p>
</section>

<section>
    <h1>WOMEN CLOTHING</h1>
    <img src="images/womanclothing.jpg"/>
    <p>Our gym floor is as spacious as they come. Enjoy scenic views from the cardio equipment on the third floor.</p>
</section>

<section>
    <h1>PHONES & ACCESORRIES</h1>
    <img src="images/phones.png"/>
    <p>Our free weights section has an extensive collection of dumbbells and Olympic plates for body building.</p>
</section>


<div class="clear"></div>


<footer>


    <section>
        <h3>CONTACT</h3>
        <p>Online Shopping<br>
            041-111-111<br>
            <br>
            100 Example Street<br>
            Ljubljana, 1000</p>
    </section>


    <section>

        <h3>SOCIAL</h3>

        <ul class="social">
            <li><a href=""><img src="images/facebook1.png" alt=""></a></li>
            <li><a href=""><img src="images/googleplus.png" alt=""></a></li>
            <li><a href=""><img src="images/twitter1.png" alt=""></a></li>
            <li><a href=""><img src="images/youtube1.png" alt=""></a></li>
        </ul>

    </section>


    <section>
        <h3>PAGES</h3>
        <p>
            <a href="#">HOME</a>-
            <a href="cart.html">CART</a>-
            <a href="account.html">ACCOUNT</a>-
            <a href="products.html">PRODUCTS</a>

        </p>
    </section>


</footer>


<footer class="second">

    <% include templates/footer.ejs %>

</footer>


</body>
</html>
